<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Resume</title>

		<!-- Bootstrap -->
		<link href="../libs/bootstrap/css/bootstrap.min.css" rel="stylesheet">

		<!-- custom styles for this template -->
		<link href="../css/cover.css" rel="stylesheet">

	</head>

	<body>
		<div class="site-wrapper">

			<div class="site-wrapper-inner">

				<div class="cover-container">

					<div class="masthead clearfix">
						<div class="inner">
							<h3 class="masthead-brand">Chris Schnabel</h3>
							<ul class="nav masthead-nav">
								<li><a href="../index.html">Home</a></li>
								<li class="active"><a href="resume.html">Resume</a></li>
								<li><a href="contact.html">Contact</a></li>
							</ul>
						</div>
					</div>

					<div class="inner cover">
						<h1 class="cover-heading">Resume</h1>

						<h3 class="resume">Education:</h3>
                        <ul>
                        	<li>Williamsville North High School 2007-2011</li>
                        	<li>University at Buffalo, the State University of New York 2011-present</li>
                        	<ul>
                        		<li>Major: Computer Science</li>
                        		<li>Cumulative GPA: 3.66</li>
                        		<li>Relevant Coursework Completed:</li>
                        		<ul>
                        			<li>CSE 115 (Intro to Programming 1)</li>
                        			<li>CSE 116 (Intro to Programming 2)</li>
                        			<li>CSE 191 (Discrete Math, Algorithms)</li>
                        			<li>CSE 241 (Digital Systems)</li>
                        			<li>CSE 250 (Data Structures)</li>
                        			<li>CSE 341 (Computer Organization)</li>
                        			<li>MTH 411 (Probability)</li>
                        			<li>CSE 341 (Real Time & Embedded Systems)</li>
                        			<li>CSE 331 (Intro to Algorithms)</li>
                        			<li>CSE 442 (Software Engineering Concepts)</li>
                    			</ul>
                    			<li>CS Courses currently taking:</li>
                    			<ul>
                    				<li>CSE 421 (Operating System)</li>
                    				<li>CSE 462 (Database Concepts)</li>
                    				<li>CSE 474 (Intro to Machine Learning)</li>
                    				<li>CSE 305 (Programming Languages)</li>
                    			</ul>
                        	</ul>
                        </ul>

                        <h3 class="resume">Relevant Skills:</h3>
                        <ul>
                        	<li>Java, C/C++, Python</li>
                        	<li>Basic Javascript, HTML/CSS</li>
                        	<li>Frameworks I've used: Django, Ember.</li>
                        	<li>Unix command line</li>
                        	<li>Familiar with object oriented practices.</li>
                        	<li>Familiar with Windows, Mac, and Linux operating systems.</li>
                        	<li>Familiar with git and GitHub.</li>
                        </ul>

						<p class="lead">
							<a href="http://www.github.com/solean" class="btn btn-lg btn-default">My GitHub</a>
						</p>
					</div>

					<div class="mastfoot">
						<!-- <div class="inner">
							<p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
						</div> -->
					</div>

				</div>

			</div>

		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="../libs/bootstrap/js/bootstrap.min.js"></script>
	</body>
</html>